body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fb;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


header {
  background: #004aad;
  color: white;
  text-align: center;
  padding: 12px 0;
  font-size: 1.3em;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background: #e9eef7;
  border-bottom: 1px solid #d0d7e2;
}
nav button {
  background: none;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 500;
  color: #004aad;
  transition: 0.2s;
}
nav button.active {
  background: #004aad;
  color: white;
  border-radius: 6px 6px 0 0;
}
main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
td.detalhe {
    padding-left: 8%;
    text-align: left;
}
th {
  background: #004aad;
  color: white;
  font-weight: 600;
}
tr:hover {
  background: #f3f6ff;
}
textarea {
  width: 100%;
  height: 400px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: monospace;
  padding: 8px;
  background: #fff;
}
button.action {
  background: #004aad;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}
button.action:hover {
  background: #003a8c;
}
input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}
pre {
  background: #111;
  color: #0f0;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.9em;
  overflow-x: auto;
  max-height: 400px;
}


